@import "reset";

$border-color: #999999;
$light-gray-color: #CCC;
$placeholder-color: #BCBCBC;
$shared-border-radius: 0.25rem;

@mixin withPadding() {
  padding: 0.85rem 1rem;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body,
html {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100vh;
  @include flexbox();
  @include align-items(flex-start);
  @include justify-content(center);
  padding-top: 5rem;
}

::placeholder {
  color: $placeholder-color;
}

:-ms-input-placeholder {
  color: $placeholder-color;
}

::-ms-input-placeholder {
  color: $placeholder-color;
}

.autocomplete {
  position: relative;
  border-radius: $shared-border-radius;
  border: 1px solid $border-color;
  min-width: 18.75rem;
  div{
    background: white;
    border-radius: $shared-border-radius;
    width: 100%;
    &:first-of-type {
      @include flexbox();
      @include align-items(center);
      @include withPadding();
    }
  }
  input {
    outline: none;
    border: none;
    font-size: 1rem;
    @include flex(1);
  }
  .close-button {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    border: none;
    background: $light-gray-color;
    border-radius: 100%;
    width: 1.25rem;
    font-size: 0.75rem;
    height: 1.25rem;
    font-weight: bold;
  }
  .result {
    cursor: pointer;
    border: none;
    @include withPadding();
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }
}

